.details {
  width: 100%;
  padding-left: 0rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 95%;
  overflow-x: hidden;
}

.title {
  width: 85%;
  text-transform: uppercase;
  padding: 2rem 4rem;
  font-weight: 500;
  color: #f58f00;
  text-transform: uppercase;
  font-size: 28pt;
  font-family: GhostLight;
}

.separator {
  width: calc(100% - 4rem);
  max-width: 600px;
  margin: 0rem 2rem;
  display: block;
}

.subTitle {
  font-size: 24px;
  font-family: LiberationSans;
  font-weight: 600;
  margin: 2rem 0rem 1.5rem;
  padding: 0rem 4rem;
}

.details {
  color: #d9d0ad;
  font-family: LiberationSans;
  padding: 0rem 4rem;
  max-width: 600px;
  overflow-y: auto;
}
