.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 95%;
  padding-top: 5rem;
  overflow-x: hidden;
  color: #d9d0ad;
  font-family: LiberationSans;
  font-size: 26px;
}

.title {
  width: 85%;
  text-transform: uppercase;
  padding: 2rem 3rem;
  font-weight: 500;
  color: #f58f00;
  text-transform: uppercase;
  font-size: 32pt;
  font-family: GhostLight;
}

.separator {
  width: calc(100% - 4rem);
  max-width: 600px;
  margin: 0rem 2rem;
  display: block;
  padding-bottom: 2rem;
}

.subTitle {
  font-size: 28px;
  font-weight: 600;
  margin: 0rem 0rem 1.5rem;
  padding: 0rem 3rem;
}

.blurb {
  padding: 0rem 3rem;
  max-width: 600px;
  overflow-y: auto;
}

.animation {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding-right: 4rem;
  padding-bottom: 10rem;
}
