.storySelector {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 300px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}

.story {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: pointer;
  transition: 500ms;
  color: #f58f00;
  text-transform: uppercase;
  font-size: 13pt;
  font-family: GhostLight;
}

.image {
  height: 100px;
  width: 100px;
  border: 1px solid white;
}

.name {
  padding-top: 1rem;
}

@keyframes scale {
  0% {
  }
  50% {
    transform: scale(1.25);
  }
}

@-webkit-keyframes scale {
  0% {
  }
  50% {
    -webkit-transform: scale(1.25);
  }
}

@-moz-keyframes scale {
  0% {
  }
  50% {
    -moz-transform: scale(1.25);
  }
}

@-ms-keyframes scale {
  0% {
  }
  50% {
    -ms-transform: scale(1.25);
  }
}

@-o-keyframes scale {
  0% {
  }
  50% {
    -o-transform: scale(1.25);
  }
}

.story:focus {
  -webkit-animation: scale 0.5s ease-in-out 0s;
  -moz-animation: scale 0.5s ease-in-out 0s;
  -o-animation: scale 0.5s ease-in-out 0s;
  animation: scale 0.5s ease-in-out 0s;
}

.background {
  background: black;
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.125;
}
