.pullScreen {
  width: 100%;
  height: 100vh;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
