.siteDetails {
  position: fixed;
  top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.siteDetailContent {
  display: flex;
  width: 85%;
  height: 75vh;
  z-index: 10;
  border: #f58f00 1px solid;
  border-radius: 30px;
}

.leftPane {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightPane {
  flex: 1 1 40%;
}

.siteDetailBackground {
  background: linear-gradient(to bottom, #404040 0%, black 100%);
  border-radius: 30px;
  background-size: 100% 100%;
  width: 85%;
  height: 75vh;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
}

:global(.bottom-enter) {
  transform: translateY(100%);
}
:global(.bottom-enter-active) {
  transform: translateY(0%);
  transition: transform 250ms ease-in-out;
}
:global(.bottom-enter-done) {
  transform: translateY(0%);
}

:global(.bottom-exit) {
  transform: translateY(0%);
}
:global(.bottom-exit) .siteDetailBackground {
  background-image: url("../../img/Background.png");
  opacity: 1;
  z-index: -1;
}
:global(.bottom-exit-active) {
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}
:global(.bottom-exit-done) {
  transform: translateY(100%);
}
.closeButton {
  position: absolute;
  right: 5%;
  top: 60px;
  cursor: pointer;
  padding: 1rem;
}
